<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.SurveyMapper">

    <!-- 설문 결과 저장 -->
    <insert id="saveSurveyResult">
        MERGE INTO USER_DIET_TYPE t
        USING (SELECT #{userId} AS USER_ID FROM dual) s
        ON (t.USER_ID = s.USER_ID)

        WHEN MATCHED THEN
        UPDATE SET
        PROTEIN_TYPE = #{dto.proteinType},
        FAT_TYPE     = #{dto.fatType},
        CARB_TYPE    = #{dto.carbType},
        DIET_TYPE    = #{dietType},
        UPDATED_AT   = SYSTIMESTAMP

        WHEN NOT MATCHED THEN
        INSERT (USER_ID, PROTEIN_TYPE, FAT_TYPE, CARB_TYPE, DIET_TYPE)
        VALUES (#{userId}, #{dto.proteinType}, #{dto.fatType}, #{dto.carbType}, #{dietType})
    </insert>

    <!-- 마이페이지에서 식단 유형 조회 -->
    <select id="findDietType" resultType="String">
        SELECT DIET_TYPE
        FROM USER_DIET_TYPE
        WHERE USER_ID = #{userId}
    </select>

</mapper>
