<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 - SaveUs</title>
    <link rel="stylesheet" th:href="@{/css/userLogin.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

<div class="login-container">
    <div class="login-card">
        <h1>SaveUs</h1>
        <p class="subtitle">로그인 후 서비스를 이용하세요</p>

        <!-- 비밀번호 변경 성공 여부 -->
        <input type="hidden" id="resetSuccess" th:value="${resetSuccess}">

        <form th:action="@{/login/proc}" th:object="${userLoginDto}" method="post">

            <label>이메일</label>
            <input type="email" th:field="*{email}" placeholder="이메일 입력">

            <label>비밀번호</label>
            <input type="password" th:field="*{password}" placeholder="비밀번호 입력">
            <p th:if="${loginError}" th:text="${loginError}" class="error-global"></p>

            <button type="submit" class="btn-login">로그인</button>
        </form>

        <div class="signup-link">
            <a th:href="@{/join}">회원가입</a><span>|</span><a th:href="@{/user/find-main}">아이디/비밀번호 찾기</a>
        </div>

    </div>
</div>

<script src="/js/userLogin.js"></script>
</body>
</html>
