<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.SurveyMapper">

    <!-- 설문 원본 + 유형 INSERT -->
    <insert id="insertSurvey">
        INSERT INTO SURVEY_RESULT
        (USER_ID, Q1, Q2, Q3, Q4, Q5, Q6, Q7,
        FAT_TYPE, PROTEIN_TYPE, CARB_TYPE)
        VALUES
        (#{userId},
        #{survey.q1}, #{survey.q2}, #{survey.q3},
        #{survey.q4}, #{survey.q5}, #{survey.q6}, #{survey.q7},
        #{fatType}, #{proteinType}, #{carbType})
    </insert>

    <!-- 사용자 설문 조회 -->
    <select id="findByUserId" resultType="com.example.Ex02.dto.SurveyDto">
        SELECT
        Q1, Q2, Q3, Q4, Q5, Q6, Q7,
        FAT_TYPE, PROTEIN_TYPE, CARB_TYPE
        FROM SURVEY_RESULT
        WHERE USER_ID = #{userId}
    </select>

</mapper>
