<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.UserMainMapper">

    <resultMap id="UserMainMap" type="com.example.Ex02.dto.UserMainDto">
        <id property="userId" column="USER_ID"/>
        <result property="email" column="EMAIL"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="profileImageUrl" column="PROFILE_IMAGE_URL"/>
        <result property="mainGoal" column="MAIN_GOAL"/>
        <result property="age" column="AGE"/>
        <result property="gender" column="GENDER"/>
        <result property="height" column="HEIGHT"/>
        <result property="currentWeight" column="CURRENT_WEIGHT"/>
    </resultMap>

    <select id="findMainInfo" parameterType="long" resultMap="UserMainMap">
        SELECT
        USER_ID,
        EMAIL,
        NICKNAME,
        PROFILE_IMAGE_URL,
        MAIN_GOAL,
        AGE,
        GENDER,
        HEIGHT,
        CURRENT_WEIGHT
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

</mapper>
