<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.SurveyMapper">

    <insert id="saveSurveyResult">
        INSERT INTO USER_DIET_TYPE (
        USER_ID, PROTEIN_TYPE, FAT_TYPE, CARB_TYPE, DIET_TYPE, UPDATED_AT
        )
        VALUES (
        #{userId},
        #{dto.proteinType},
        #{dto.fatType},
        #{dto.carbType},
        #{dietType},
        NOW()
        )
        ON DUPLICATE KEY UPDATE
        PROTEIN_TYPE = VALUES(PROTEIN_TYPE),
        FAT_TYPE = VALUES(FAT_TYPE),
        CARB_TYPE = VALUES(CARB_TYPE),
        DIET_TYPE = VALUES(DIET_TYPE),
        UPDATED_AT = NOW()
    </insert>

    <select id="findDietType" resultType="String">
        SELECT DIET_TYPE
        FROM USER_DIET_TYPE
        WHERE USER_ID = #{userId}
    </select>

</mapper>
