<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.MealMapper">

    <!-- MealDto 매핑 -->
    <resultMap id="MealResultMap" type="com.example.Ex02.dto.MealDto">
        <id property="entryId" column="entryId"/>
        <result property="userId" column="userId"/>
        <result property="mealName" column="mealName"/>
        <result property="mealTime" column="mealTime"/>
        <result property="eatTime" column="eatTime"/>

        <result property="calories" column="calories"/>
        <result property="protein" column="protein"/>
        <result property="carbs" column="carbs"/>
        <result property="fat" column="fat"/>

        <result property="sugar" column="sugar"/>
        <result property="fiber" column="fiber"/>
        <result property="calcium" column="calcium"/>
        <result property="sodium" column="sodium"/>
    </resultMap>

    <!-- 오늘 식사 조회 -->
    <select id="findTodayMeals" parameterType="long"
            resultMap="MealResultMap">

        SELECT
        ENTRY_ID AS entryId,
        USER_ID AS userId,
        MEAL_NAME AS mealName,
        TO_CHAR(EAT_TIME, 'HH24:MI') AS mealTime,
        TO_CHAR(EAT_TIME, 'YYYY-MM-DD"T"HH24:MI:SS') AS eatTime,

        CALORIES_KCAL AS calories,
        PROTEIN_G AS protein,
        CARBS_G AS carbs,
        FATS_G AS fat,

        SUGAR_G AS sugar,
        FIBER_G AS fiber,
        CALCIUM_MG AS calcium,
        SODIUM_MG AS sodium

        FROM MEAL_ENTRY
        WHERE USER_ID = #{userId}
        AND TRUNC(EAT_TIME) = TRUNC(SYSDATE)
        ORDER BY EAT_TIME

    </select>

    <!-- 삽입 -->
    <insert id="saveMeal" parameterType="map">
        INSERT INTO MEAL_ENTRY (
        USER_ID,
        MEAL_NAME,
        EAT_TIME,
        CALORIES_KCAL,
        PROTEIN_G,
        CARBS_G,
        FATS_G,
        SUGAR_G,
        FIBER_G,
        CALCIUM_MG,
        SODIUM_MG
        )
        VALUES (
        #{userId},
        #{mealName},
        TO_TIMESTAMP(#{eatTime}, 'YYYY-MM-DD"T"HH24:MI:SS'),
        #{calories},
        #{protein},
        #{carbs},
        #{fat},
        NVL(#{sugar, jdbcType=INTEGER}, 0),
        NVL(#{fiber, jdbcType=INTEGER}, 0),
        NVL(#{calcium, jdbcType=INTEGER}, 0),
        NVL(#{sodium, jdbcType=INTEGER}, 0)
        )
    </insert>


    <!-- 단건 조회 -->
    <select id="findMealById" parameterType="long"
            resultMap="MealResultMap">

        SELECT
        ENTRY_ID AS entryId,
        USER_ID AS userId,
        MEAL_NAME AS mealName,
        TO_CHAR(EAT_TIME, 'HH24:MI') AS mealTime,
        TO_CHAR(EAT_TIME, 'YYYY-MM-DD"T"HH24:MI:SS') AS eatTime,

        CALORIES_KCAL AS calories,
        PROTEIN_G AS protein,
        CARBS_G AS carbs,
        FATS_G AS fat,

        SUGAR_G AS sugar,
        FIBER_G AS fiber,
        CALCIUM_MG AS calcium,
        SODIUM_MG AS sodium

        FROM MEAL_ENTRY
        WHERE ENTRY_ID = #{entryId}
    </select>

    <!-- 수정 -->
    <update id="updateMeal" parameterType="com.example.Ex02.dto.MealDto">
        UPDATE MEAL_ENTRY
        SET
        MEAL_NAME = #{mealName},
        EAT_TIME = TO_TIMESTAMP(
        TO_CHAR(EAT_TIME, 'YYYY-MM-DD') || ' ' || #{mealTime},
        'YYYY-MM-DD HH24:MI'
        ),
        CALORIES_KCAL = #{calories},
        PROTEIN_G = #{protein},
        CARBS_G = #{carbs},
        FATS_G = #{fat},
        SUGAR_G = NVL(#{sugar, jdbcType=INTEGER}, 0),
        FIBER_G = NVL(#{fiber, jdbcType=INTEGER}, 0),
        CALCIUM_MG = NVL(#{calcium, jdbcType=INTEGER}, 0),
        SODIUM_MG = NVL(#{sodium, jdbcType=INTEGER}, 0)
        WHERE ENTRY_ID = #{entryId}
    </update>


    <!-- 삭제 -->
    <delete id="deleteMeal">
        DELETE FROM MEAL_ENTRY
        WHERE ENTRY_ID = #{entryId}
    </delete>

    <!--전날 영양소 합계 조회-->
    <select id="findYesterdayTotalNutrition" resultMap="MealResultMap">
        SELECT
            NVL(SUM(CALORIES_KCAL), 0) AS CALORIES_KCAL,
            NVL(SUM(PROTEIN_G), 0)     AS PROTEIN_G,
            NVL(SUM(CARBS_G), 0)       AS CARBS_G,
            NVL(SUM(FATS_G), 0)        AS FATS_G,
            NVL(SUM(SUGAR_G), 0)       AS SUGAR_G,
            NVL(SUM(FIBER_G), 0)       AS FIBER_G,
            NVL(SUM(CALCIUM_MG), 0)    AS CALCIUM_MG,
            NVL(SUM(SODIUM_MG), 0)     AS SODIUM_MG
        FROM MEAL_ENTRY
        WHERE USER_ID = #{userId}
        AND TRUNC(EAT_TIME) = TRUNC(SYSDATE - 1)
    </select>

</mapper>
