<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.UserMapper">

    <resultMap id="userMap" type="com.example.Ex02.dto.UserJoinDto">
        <id column="USER_ID" property="userId"/>
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
        <result column="NICKNAME" property="nickname"/>
        <result column="HEIGHT" property="height"/>
        <result column="CURRENT_WEIGHT" property="currentWeight"/>
        <result column="MAIN_GOAL" property="mainGoal"/>
        <result column="PROFILE_IMAGE_URL" property="profileImageUrl"/>
        <result column="BIRTHDATE" property="birthdate"/>
        <result column="AGE" property="age"/>
        <result column="GENDER" property="gender"/>
        <result column="CREATED_AT" property="createdAt"/>
    </resultMap>

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="com.example.Ex02.dto.UserJoinDto">

        <selectKey keyProperty="userId" resultType="long" order="BEFORE">
            SELECT USERS_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO USERS (
        USER_ID, EMAIL, PASSWORD, NICKNAME, HEIGHT, CURRENT_WEIGHT, MAIN_GOAL,
        PROFILE_IMAGE_URL, BIRTHDATE, AGE, GENDER )
        VALUES ( #{userId}, #{email}, #{password}, #{nickname}, #{height}, #{currentWeight},
        #{mainGoal}, #{profileImageUrl}, TO_DATE(#{birthdate}, 'YYYY-MM-DD'), #{age}, #{gender} )
    </insert>

    <!-- 이메일로 조회 -->
    <select id="findByEmail" resultMap="userMap">
        SELECT
        USER_ID,
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        TO_CHAR(BIRTHDATE, 'YYYY-MM-DD') AS BIRTHDATE,
        AGE,
        GENDER,
        CREATED_AT
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <!-- ID로 조회 -->
    <select id="findById" resultMap="userMap">
        SELECT
        USER_ID,
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        TO_CHAR(BIRTHDATE, 'YYYY-MM-DD') AS BIRTHDATE,
        AGE,
        GENDER,
        CREATED_AT
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <!-- 닉네임 중복 체크 -->
    <select id="countByNickname" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE NICKNAME = #{nickname}
    </select>


    <!-- 이메일 중복 체크 -->
    <select id="countByEmail" resultType="int">
        SELECT COUNT(*) FROM USERS WHERE EMAIL = #{email}
    </select>



    <!--회원 정보 수정-->
    <update id="updateUser" parameterType="com.example.Ex02.dto.UserJoinDto">
        UPDATE USERS
        <set>
            <if test="height != null"> HEIGHT = #{height}, </if>
            <if test="currentWeight != null"> CURRENT_WEIGHT = #{currentWeight}, </if>
            <if test="mainGoal != null"> MAIN_GOAL = #{mainGoal}, </if>
            <if test="profileImageUrl != null and profileImageUrl != ''">
                PROFILE_IMAGE_URL = #{profileImageUrl},
            </if>
        </set>
        WHERE USER_ID = #{userId}
    </update>




    <!-- 비밀번호 변경 (현재 비밀번호 체크 후 변경) -->
    <select id="checkPassword" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE USER_ID = #{userId}
        AND PASSWORD = #{currentPassword}
    </select>

    <update id="updatePassword">
        UPDATE USERS
        SET PASSWORD = #{newPassword}
        WHERE USER_ID = #{userId}
    </update>

    <!-- 다른 사람 프로필 조회 -->
    <select id="findMainInfo" resultMap="userMap">
        SELECT
        USER_ID,
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        TO_CHAR(BIRTHDATE, 'YYYY-MM-DD') AS BIRTHDATE,
        AGE,
        GENDER,
        CREATED_AT
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <!--회원 탈퇴 자식부터 삭제-->
    <!-- USER_GOAL 삭제 -->
    <delete id="deleteUserGoals">
        DELETE FROM USER_GOAL
        WHERE USER_ID = #{userId}
    </delete>

    <!-- HEALTH_SCORE_DAILY 삭제 -->
    <delete id="deleteUserHealthScores">
        DELETE FROM HEALTH_SCORE_DAILY
        WHERE USER_ID = #{userId}
    </delete>

    <!-- MEAL_ENTRY 삭제 -->
    <delete id="deleteUserMeals">
        DELETE FROM MEAL_ENTRY
        WHERE USER_ID = #{userId}
    </delete>

    <!-- USERS 삭제(마지막 실행) -->
    <delete id="deleteUser">
        DELETE FROM USERS
        WHERE USER_ID = #{userId}
    </delete>

    <select id="findByNicknameAndBirthdate" resultMap="userMap">
        SELECT
        USER_ID,
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        TO_CHAR(BIRTHDATE, 'YYYY-MM-DD') AS BIRTHDATE,
        AGE,
        GENDER,
        CREATED_AT
        FROM USERS
        WHERE NICKNAME = #{nickname}
        AND TRUNC(BIRTHDATE) = TO_DATE(#{birthdate}, 'YYYY-MM-DD')
    </select>



</mapper>
