<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.UserChallengeMapper">

    <!-- 유저가 진행 중인 챌린지 -->
    <select id="findActiveChallenges" resultType="com.example.Ex02.dto.UserChallengeDto">

        SELECT
        UC.USER_CHALLENGE_ID,
        UC.USER_ID,
        UC.CHALLENGE_ID,
        UC.STATUS,
        UC.PROGRESS_PERCENT,
        UC.START_DATE,
        C.TITLE,
        C.DESCRIPTION,
        C.IMAGE_URL,
        C.DURATION_DAYS,

        (C.DURATION_DAYS - (TRUNC(SYSDATE) - TRUNC(UC.START_DATE))) AS remainingDays

        FROM USER_CHALLENGES UC
        JOIN CHALLENGES C ON UC.CHALLENGE_ID = C.CHALLENGE_ID
        WHERE UC.USER_ID = #{userId}
        AND UC.STATUS = 'ONGOING'
        ORDER BY UC.START_DATE DESC

    </select>

</mapper>
