<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.UserMapper">

    <resultMap id="userMap" type="com.example.Ex02.dto.UserJoinDto">
        <id column="USER_ID" property="userId"/>
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
        <result column="NICKNAME" property="nickname"/>
        <result column="HEIGHT" property="height"/>
        <result column="CURRENT_WEIGHT" property="currentWeight"/>
        <result column="MAIN_GOAL" property="mainGoal"/>
        <result column="PROFILE_IMAGE_URL" property="profileImageUrl"/>
    </resultMap>
    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="com.example.Ex02.dto.UserJoinDto">

        <selectKey keyProperty="userId" resultType="long" order="BEFORE">
            SELECT USERS_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO USERS (
        USER_ID, EMAIL, PASSWORD, NICKNAME, HEIGHT, CURRENT_WEIGHT, MAIN_GOAL,
        PROFILE_IMAGE_URL, BIRTHDATE, AGE, GENDER )
        VALUES ( #{userId}, #{email}, #{password}, #{nickname}, #{height}, #{currentWeight},
        #{mainGoal}, #{profileImageUrl}, TO_DATE(#{birthdate}, 'YYYY-MM-DD'), #{age}, #{gender} )
    </insert>

    <!-- 이메일로 조회 -->
    <select id="findByEmail" resultMap="userMap">
        SELECT *
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <!-- ID로 조회 -->
    <select id="findById" resultMap="userMap">
        SELECT *
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <!-- 이메일 중복 체크 -->
    <select id="countByEmail" resultType="int">
        SELECT COUNT(*) FROM USERS WHERE EMAIL = #{email}
    </select>


</mapper>
