<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.UserMapper">

    <resultMap id="userMap" type="com.example.Ex02.dto.UserJoinDto">
        <id column="USER_ID" property="userId"/>
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
        <result column="NICKNAME" property="nickname"/>
        <result column="HEIGHT" property="height"/>
        <result column="CURRENT_WEIGHT" property="currentWeight"/>
        <result column="MAIN_GOAL" property="mainGoal"/>
        <result column="PROFILE_IMAGE_URL" property="profileImageUrl"/>
        <result column="BIRTHDATE" property="birthdate"/>
        <result column="AGE" property="age"/>
        <result column="GENDER" property="gender"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="BMI" property="bmi"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.example.Ex02.dto.UserJoinDto" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO USERS (
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        BIRTHDATE,
        AGE,
        GENDER,
        BMI
        )
        VALUES (
        #{email},
        #{password},
        #{nickname},
        #{height},
        #{currentWeight},
        #{mainGoal},
        #{profileImageUrl},
        #{birthdate},
        #{age},
        #{gender},
        #{bmi}
        )
    </insert>

    <select id="findByEmail" resultMap="userMap">
        SELECT
        USER_ID,
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        DATE_FORMAT(BIRTHDATE, '%Y-%m-%d') AS BIRTHDATE,
        AGE,
        GENDER,
        CREATED_AT,
        BMI
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <select id="findById" resultMap="userMap">
        SELECT
        USER_ID,
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        DATE_FORMAT(BIRTHDATE, '%Y-%m-%d') AS BIRTHDATE,
        AGE,
        GENDER,
        CREATED_AT,
        BMI
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <select id="countByNickname" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE NICKNAME = #{nickname}
    </select>

    <select id="countByEmail" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>


    <!--유저 정보 수정-->
    <update id="updateUser" parameterType="com.example.Ex02.dto.UserJoinDto">
        UPDATE USERS
        <set>
            PROFILE_IMAGE_URL = #{profileImageUrl},

            <if test="height != null">
                HEIGHT = #{height},
            </if>

            <if test="currentWeight != null">
                CURRENT_WEIGHT = #{currentWeight},
            </if>

            <if test="mainGoal != null">
                MAIN_GOAL = #{mainGoal},
            </if>

            BMI = #{bmi}
        </set>
        WHERE USER_ID = #{userId}
    </update>


    <select id="checkPassword" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE USER_ID = #{userId}
        AND PASSWORD = #{currentPassword}
    </select>

    <update id="updatePassword">
        UPDATE USERS
        SET PASSWORD = #{newPassword}
        WHERE USER_ID = #{userId}
    </update>

    <select id="findMainInfo" resultMap="userMap">
        SELECT
        USER_ID,
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        DATE_FORMAT(BIRTHDATE, '%Y-%m-%d') AS BIRTHDATE,
        AGE,
        GENDER,
        CREATED_AT,
        BMI
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <delete id="deleteUserGoals">
        DELETE FROM USER_GOAL
        WHERE USER_ID = #{userId}
    </delete>

    <delete id="deleteUserHealthScores">
        DELETE FROM HEALTH_SCORE_DAILY
        WHERE USER_ID = #{userId}
    </delete>

    <delete id="deleteUserMeals">
        DELETE FROM MEAL_ENTRY
        WHERE USER_ID = #{userId}
    </delete>

    <delete id="deleteUser">
        DELETE FROM USERS
        WHERE USER_ID = #{userId}
    </delete>

    <select id="findByNicknameAndBirthdate" resultMap="userMap">
        SELECT
        USER_ID,
        EMAIL,
        PASSWORD,
        NICKNAME,
        HEIGHT,
        CURRENT_WEIGHT,
        MAIN_GOAL,
        PROFILE_IMAGE_URL,
        DATE_FORMAT(BIRTHDATE, '%Y-%m-%d') AS BIRTHDATE,
        AGE,
        GENDER,
        CREATED_AT,
        BMI
        FROM USERS
        WHERE NICKNAME = #{nickname}
        AND DATE(BIRTHDATE) = #{birthdate}
    </select>

</mapper>
