<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입 - SaveUs</title>
    <link rel="stylesheet" th:href="@{/css/userInsert.css}">
    <script th:src="@{/js/user.js}"></script>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>

<body>
<main class="page-content" layout:fragment="content">
<div class="signup-container">

    <div class="signup-left">

        <h1>Create an account</h1>

        <form th:action="@{/user/insert}"
              th:object="${userDto}"
              method="post"
              id="userJoinForm"
              onsubmit="return validateForm()">

            <!-- 이메일 -->
            <div class="row">
                <label>이메일</label>
                <div class="row-input email-domain-row">

                    <input type="text"
                           id="emailId"
                           placeholder="이메일 아이디"
                           oninput="resetEmailCheck(); validateInput('emailId')">

                    <span>@</span>

                    <select id="emailDomain"
                            onchange="resetEmailCheck(); validateInput('emailId')">
                        <option value="">선택</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="naver.com">naver.com</option>
                        <option value="daum.net">daum.net</option>
                    </select>

                    <button type="button" class="btn-email" onclick="checkEmail()">중복확인</button>
                </div>
            </div>

            <div class="row-error" id="emailCheckResult"></div>

            <input type="hidden" id="emailInput" th:field="*{email}">

            <!-- 비밀번호 -->
            <div class="row">
                <label>비밀번호</label>
                <div class="row-input">
                    <input type="password"
                           id="password"
                           th:field="*{password}"
                           placeholder="비밀번호 입력"
                           oninput="validateInput('password')">
                </div>
            </div>
            <div class="row-error" id="passwordError"></div>

            <!-- 닉네임 -->
            <div class="row">
                <label>닉네임</label>
                <div class="row-input">
                    <input type="text"
                           id="nickname"
                           th:field="*{nickname}"
                           placeholder="닉네임 입력"
                           oninput="validateInput('nickname')">
                </div>
            </div>
            <div class="row-error" id="nicknameError"></div>

            <!-- 생년월일 -->
            <div class="row">
                <label>생년월일</label>
                <div class="row-input">
                    <input type="date"
                           id="birthdate"
                           th:field="*{birthdate}"
                           oninput="validateInput('birthdate')">
                </div>
            </div>
            <div class="row-error" id="birthdateError"></div>

            <!-- 키 -->
            <div class="row">
                <label>키(cm)</label>
                <div class="row-input">
                    <input type="text"
                           id="height"
                           th:field="*{height}"
                           placeholder="예: 170"
                           oninput="this.value = this.value.replace(/[^0-9]/g,''); validateInput('height')">
                </div>
            </div>
            <div class="row-error" id="heightError"></div>

            <!-- 체중 -->
            <div class="row">
                <label>체중(kg)</label>
                <div class="row-input">
                    <input type="text"
                           id="currentWeight"
                           th:field="*{currentWeight}"
                           placeholder="예: 65"
                           oninput="this.value = this.value.replace(/[^0-9]/g,''); validateInput('currentWeight')">
                </div>
            </div>
            <div class="row-error" id="weightError"></div>

            <!-- 목표 -->
            <div class="row">
                <label>목표</label>
                <div class="row-input goal-box">

                    <input type="radio" id="goal0" name="mainGoal" value="0" th:field="*{mainGoal}">
                    <label for="goal0" class="goal-option">감량</label>

                    <input type="radio" id="goal1" name="mainGoal" value="1" th:field="*{mainGoal}">
                    <label for="goal1" class="goal-option">증량</label>

                    <input type="radio" id="goal2" name="mainGoal" value="2" th:field="*{mainGoal}">
                    <label for="goal2" class="goal-option">건강식</label>

                </div>
            </div>
            <div class="row-error" id="goalError"></div>

            <button type="submit" class="btn-join">회원가입</button>

        </form>
    </div>

    <div class="signup-right"></div>


</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>
