<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.MealMapper">

    <resultMap id="MealResultMap" type="com.example.Ex02.dto.MealDto">
        <id property="entryId" column="entryId"/>
        <result property="userId" column="userId"/>
        <result property="mealName" column="mealName"/>
        <result property="mealTime" column="mealTime"/>
        <result property="eatTime" column="eatTime"/>

        <result property="calories" column="calories"/>
        <result property="protein" column="protein"/>
        <result property="carbs" column="carbs"/>
        <result property="fat" column="fat"/>

        <result property="sugar" column="sugar"/>
        <result property="fiber" column="fiber"/>
        <result property="calcium" column="calcium"/>
        <result property="sodium" column="sodium"/>
    </resultMap>

    <select id="findTodayMeals" parameterType="long" resultMap="MealResultMap">
        SELECT
        ENTRY_ID AS entryId,
        USER_ID AS userId,
        MEAL_NAME AS mealName,
        DATE_FORMAT(EAT_TIME, '%H:%i') AS mealTime,
        DATE_FORMAT(EAT_TIME, '%Y-%m-%dT%H:%i:%s') AS eatTime,
        CALORIES_KCAL AS calories,
        PROTEIN_G AS protein,
        CARBS_G AS carbs,
        FATS_G AS fat,
        SUGAR_G AS sugar,
        FIBER_G AS fiber,
        CALCIUM_MG AS calcium,
        SODIUM_MG AS sodium
        FROM MEAL_ENTRY
        WHERE USER_ID = #{userId}
        AND DATE(EAT_TIME) = DATE(NOW())
        ORDER BY EAT_TIME
    </select>

    <insert id="saveMeal" parameterType="map">
        INSERT INTO MEAL_ENTRY (
        USER_ID,
        MEAL_NAME,
        EAT_TIME,
        CALORIES_KCAL,
        PROTEIN_G,
        CARBS_G,
        FATS_G,
        SUGAR_G,
        FIBER_G,
        CALCIUM_MG,
        SODIUM_MG
        )
        VALUES (
        #{userId},
        #{mealName},
        STR_TO_DATE(#{eatTime}, '%Y-%m-%dT%H:%i:%s'),
        IFNULL(#{calories}, 0),
        IFNULL(#{protein}, 0),
        IFNULL(#{carbs}, 0),
        IFNULL(#{fat}, 0),
        IFNULL(#{sugar}, 0),
        IFNULL(#{fiber}, 0),
        IFNULL(#{calcium}, 0),
        IFNULL(#{sodium}, 0)
        )
    </insert>

    <select id="findMealById" parameterType="long" resultMap="MealResultMap">
        SELECT
        ENTRY_ID AS entryId,
        USER_ID AS userId,
        MEAL_NAME AS mealName,
        DATE_FORMAT(EAT_TIME, '%H:%i') AS mealTime,
        DATE_FORMAT(EAT_TIME, '%Y-%m-%dT%H:%i:%s') AS eatTime,
        CALORIES_KCAL AS calories,
        PROTEIN_G AS protein,
        CARBS_G AS carbs,
        FATS_G AS fat,
        SUGAR_G AS sugar,
        FIBER_G AS fiber,
        CALCIUM_MG AS calcium,
        SODIUM_MG AS sodium
        FROM MEAL_ENTRY
        WHERE ENTRY_ID = #{entryId}
    </select>

    <update id="updateMeal" parameterType="com.example.Ex02.dto.MealDto">
        UPDATE MEAL_ENTRY
        SET
        MEAL_NAME = #{mealName},
        EAT_TIME = STR_TO_DATE(
        CONCAT(DATE_FORMAT(EAT_TIME, '%Y-%m-%d'), ' ', #{mealTime}),
        '%Y-%m-%d %H:%i'
        ),
        CALORIES_KCAL = #{calories},
        PROTEIN_G = #{protein},
        CARBS_G = #{carbs},
        FATS_G = #{fat},
        SUGAR_G = IFNULL(#{sugar}, 0),
        FIBER_G = IFNULL(#{fiber}, 0),
        CALCIUM_MG = IFNULL(#{calcium}, 0),
        SODIUM_MG = IFNULL(#{sodium}, 0)
        WHERE ENTRY_ID = #{entryId}
    </update>

    <delete id="deleteMeal">
        DELETE FROM MEAL_ENTRY
        WHERE ENTRY_ID = #{entryId}
    </delete>

    <select id="findYesterdayTotalNutrition" resultMap="MealResultMap">
        SELECT
        IFNULL(SUM(CALORIES_KCAL), 0) AS CALORIES_KCAL,
        IFNULL(SUM(PROTEIN_G), 0)     AS PROTEIN_G,
        IFNULL(SUM(CARBS_G), 0)       AS CARBS_G,
        IFNULL(SUM(FATS_G), 0)        AS FATS_G,
        IFNULL(SUM(SUGAR_G), 0)       AS SUGAR_G,
        IFNULL(SUM(FIBER_G), 0)       AS FIBER_G,
        IFNULL(SUM(CALCIUM_MG), 0)    AS CALCIUM_MG,
        IFNULL(SUM(SODIUM_MG), 0)     AS SODIUM_MG
        FROM MEAL_ENTRY
        WHERE USER_ID = #{userId}
        AND DATE(EAT_TIME) = DATE(DATE_SUB(NOW(), INTERVAL 1 DAY))
    </select>

</mapper>
